<html>
<head>
    <title>CSR Dashboard</title>
    <style>
        body { font-family: Arial, sans-serif; background-color: #f4f4f4; }
        table { width: 100%; border-collapse: collapse; margin: 20px 0; }
        table, th, td { border: 1px solid #ddd; padding: 10px; }
        th { background-color: #f2f2f2; }
        a { text-decoration: none; color: #007BFF; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>CSR Dashboard</h1>

    <p>Welcome, {{ user.username }}</p>
    <form action="{% url 'customer:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
<table>
        <tr>
            <th>Customer</th>
            <th>Request Type</th>
            <th>Status</th>
            <th>Date Created</th>
        
            <th>Views</th>
            <th>Update </th>
        </tr>
        {% for request in service_requests %}
        <tr>
            <td>{{ request.customers }}</td>
            <td>{{ request.request_type }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.date_created }}</td>
           
            <td><a href="{% url 'service_req:service_request_detail' request.pk %}">View Details</a></td>
            <td><a href="{% url 'service_req:service_request_update' request.pk %}">Update Status</a></td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>
